html, body {
  @apply .bg-gray-200;
}

h1, h2, h3, h4, h5, h6 {
  @apply .leading-tight .font-bold .text-gray-900 .mt-6 .mb-2;
}

h1 {
  @apply .text-3xl;
}

h2 {
  @apply .text-2xl;
}

h3 {
  @apply .text-xl;
}

a {
  @apply .border-0;
}

a:hover {
  @apply .text-gray-600;
}

.screen-reader-text {
  display: none !important;
}

.widget-title, .widget-title label {
    @apply .mb-2 .font-bold .tracking-wide .uppercase .text-xs;
}

.widget li,
.widget_recent_entries ul li {
    @apply .mt-3;
}
.widget input {
    @apply .mt-6 .shadow .appearance-none .border .rounded .w-full .py-2 .px-3 .text-gray-900 .leading-tight .mb-6;
    max-width: 75%;
}
.search-submit {
    @apply .py-2 .px-4 .rounded .mb-4;
    display: none;
}
.footer p {
    @apply .mb-6;
}
