#carbonads {
  margin: 0 auto 3rem auto;
  display: block;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .05);
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  max-width: 300px;
  font-size: 12px;
  background-color: #fff;
}

#carbonads a {
  text-decoration: none;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  float: left;
  margin-right: 1em;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  display: block;
  float: left;
  max-width: calc(100% - 130px - 1em);
  text-align: left;
  color: #637381;
}

.carbon-poweredby {
  position: absolute;
  left: 142px;
  bottom: 0;
  display: block;
  font-size: 8px;
  color: #c5cdd0;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
}

@screen lg {
  #carbonads {
    display: block;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    padding: 1em;
    background: #fff;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    max-width: 158px;
    position: fixed;
    top: 30px;
    right: 50px;
  }

  #carbonads a {
    color: inherit;
    text-decoration: none;
  }

  #carbonads a:hover {
    color: inherit;
  }

  #carbonads span {
    display: block;
    overflow: hidden;
  }

  .carbon-img {
    display: block;
    margin: 0 auto 8px;
    line-height: 1;
  }
  .carbon-img img {
    max-width: 100% !important;
  }

  .carbon-text {
    display: block;
    margin-bottom: 8px;
    float: none;
    max-width: 100%;
    text-align: center;
  }

  #carbonads a.carbon-poweredby {
    position: initial;
    text-transform: uppercase;
    display: block;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 1;
    color: #c5cdd0;
  }
}
